html, body {
	background: url("/images/christmas/winter-wp.jpg") no-repeat fixed left center / cover;
}

html {
	height: 100%;
}

body {
	height: 100%;
	/*overflow: hidden;*/
}

.radio-content-panel {
	height: 100%;
}

.main {
	height: 100%;
}

#happy {
	background: url("/images/valentines/happyvalenshit.jpg");
	bottom: 0px;
	position: fixed;
	right: 0px;
}

#radio-container {
	height: 100%;
}

.thumbnail {
	margin-bottom: 0px;
}

.listeners-num, .timer-num {
	color: #FFF;
	font-size: 18px;
}

.list-group-item {
	background: transparent;
	border: none;
}

.lp-meta {
	color: #FFF;
	font-size: 18px;
}

.top-pusher {
	height: 50%;
}

.upper-content {
	transform: translateY(-50%);
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 72%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.75)), color-stop(72%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.lower-content {
	background-color: none;
	border: 0px #FFF solid;
	position: fixed;
	bottom: 0px;
}

.container {
	/*width: 100%;*/
}

.navbar {
	/*display: none;*/
}

.footer {
	display: none;
}

.container.hidden-xs.hidden-sm {
	background: none repeat scroll 0% 0% transparent;
}

#Div1 {
	height: 0;
	left: 0px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	width: 0;
	z-index: 0;
}

#volume-control {
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%) repeat scroll 0% 0% transparent;
	border-radius: 0px;
	border: medium none;
	color: #FFFFFF;
	margin-left: -1.5em;
	transition: all 0.2s ease-in-out 0s;
}

#logo {
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%) repeat scroll 0% 0% transparent;
	border-radius: 20px 0px 0px;
	margin-left: -1.5em;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
}

.thumbnail {
	background: transparent;
	border-radius: 0px 20px 0px 0px;
	border: 0px solid #DDDDDD;
	color: #FFFFFF;
}

#volume-image {
	/*background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%) repeat scroll 0px 0px transparent;*/
	border-radius: 0px;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
}

#dj-image {
	border-radius: 200px;
	margin-top: 0.5em;
	width: 10em;
}

.progress-bar {
	background-color: rgba(0, 0, 0, 0.05);
}

.progress {
	background-color: rgba(0, 0, 0, 0.05);
}

.btn-primary {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	border: medium none;
}

.btn-primary:hover {
	background-color: rgba(0, 0, 0, 0.55);
}

.btn-default {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	border: medium none;
	color: #FFFFFF;
}

.btn-default:hover {
	background-color: rgba(0, 0, 0, 0.55);
	color: #FFFFFF;
}

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
	background-color: rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
}

.dropdown-menu, .dropdown-menu li a {
	background-color: rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
}

.dropdown-menu li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #FFFFFF;
	transition: all 0.2s ease-in-out 0s;
}

.dropdown-menu .divider {
	background-color: rgba(100, 100, 100, 0.3);
	height: 2px;
}

h2, h3 {
	color: #FFFFFF;
}

.modal-content {
	background-color: #000000;
	border-radius: 20px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	position: relative;
}

.modal-footer {
	border: medium none;
}

.modal-header {
	border: medium none;
}

.close {
	color: #FFFFFF;
}

#dj-mode h2 {
	background: rgba(24,32,36,0.4);
	background: radial-gradient(at bottom,
		rgba(24,32,36,0.4),
		rgba(24,32,36,0) 60%
	);
	box-shadow: 0 .2em .2em -.2em hsla(212, 60%, 20%, 0.3);
}

.lp-meta.text-center, .listeners-num, .timer-num {
	text-shadow: .03em .03em .01em #012;
}

#np, #dj-mode h2, #dj-mode h1 a {
	text-shadow: .02em .02em .04em #012;
}
