html, body {
	background: url("/images/christmas/winter-wp.jpg") no-repeat fixed left center / cover;
}

html {
	height: 100%;
}

body {
	height: 100%;
	/*overflow: hidden;*/
}

.radio-content-panel {
	height: 100%;
}

.main {
	height: 100%;
}

#happy {
	background: url("/images/valentines/happyvalenshit.jpg");
	bottom: 0px;
	position: fixed;
	right: 0px;
}

#radio-container {
	height: 100%;
}

.thumbnail {
	margin-bottom: 0px;
	
}

.listeners-num, .timer-num {
	color: #FFF;
	font-size: 18px;
}

.list-group-item {
	background: transparent;
	border: none;
}

.lp-meta {
	color: #FFF;
	font-size: 18px;
}

.top-pusher {
	height: 50%;
}

.upper-content {
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* W3C */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 900px;
}

.lower-content {
	background-color: none;
	border: 0px #FFF solid;
	position: fixed;
	bottom: 0px;
}

.container {
	/*width: 100%;*/
}

.navbar {
	display: none;
}

.footer {
	display: none;
}

.container.hidden-xs.hidden-sm {
	background: none repeat scroll 0% 0% transparent;
}

#Div1 {
	height: 0;
	left: 0px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	width: 0;
	z-index: 0;
}

#volume-control {
	background: rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0px 0px;
	border: medium none;
	color: #FFFFFF;
	transition: all 0.2s ease-in-out 0s;
	max-width: 270px;
	backdrop-filter: blur(2px);
	margin-bottom: 5px !important;
}

#logo {
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%) repeat scroll 0% 0% transparent;
	border-radius: 20px 0px 0px;
	margin-left: -1.5em;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
}

.thumbnail {
	background: transparent;
	border-radius: 0px 20px 0px 0px;
	border: 0px solid #DDDDDD;
	color: #FFFFFF;
}

#volume-image {
	border-radius: 0px;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
}

#dj-image {
	border-radius: 200px;
	margin-top: 0.5em;
	width: 10em;
}

.progress-bar {
	background-color: rgba(0, 0, 0, 0.05);
}

.progress {
	background-color: rgba(0, 0, 0, 0.05);
}

.btn {
	backdrop-filter: blur(2px);
}

.btn-primary {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	border: medium none;
}

.btn-primary:hover {
	background-color: rgba(0, 0, 0, 0.55);
}

.btn-default {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	border: medium none;
	color: #FFFFFF;
}

.btn-default:hover {
	background-color: rgba(0, 0, 0, 0.55);
	color: #FFFFFF;
}

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
	background-color: rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
}

.dropdown-menu, .dropdown-menu li a {
	background-color: rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
}

.dropdown-menu li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #FFFFFF;
	transition: all 0.2s ease-in-out 0s;
}

.dropdown-menu .divider {
	background-color: rgba(100, 100, 100, 0.3);
	height: 2px;
}

h2, h3 {
	color: #FFFFFF;
}

.modal-content {
	background-color: #000000;
	border-radius: 20px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	position: relative;
}

.modal-footer {
	border: medium none;
}

.modal-header {
	border: medium none;
}

.close {
	color: #FFFFFF;
}

#dj-mode h2 {
	background: rgba(24,32,36,0.4);
	background: radial-gradient(at bottom,
		rgba(24,32,36,0.4),
		rgba(24,32,36,0) 60%
	);
	box-shadow: 0 .2em .2em -.2em hsla(212, 60%, 20%, 0.3);
}

.lp-meta.text-center, .listeners-num, .timer-num {
	text-shadow: .03em .03em .01em #012;
}

#np, #dj-mode h2, #dj-mode h1 a {
	text-shadow: .02em .02em .04em #012;
}

img[src="/api/dj-image/18-6c09752d.png"]+h4:before {
	top: -2px;
	left: 415px;
	transform: scaleX(-1) scaleY(1.25) rotate(-46deg);
}

@media only screen and (max-width: 1337px) {
	img[src="/api/dj-image/18-6c09752d.png"]+h4:before {
		display: none;
	}
}

.modal-content {
	display: grid;
	align-items: center;
	justify-content: center;
	top: 100vh;
	transform: translateY(calc(-50vh - 50% - 25px));
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	position: relative;
}

.modal-title {
	margin-top: 30px;
	text-align: center;
}

.modal-footer {
	border: medium none;
}

.modal-header {
	border: medium none;
	padding-top: 30px;
	text-align: center;
}

#help,
#schedule {
	backdrop-filter: blur(15px);
	overflow: hidden;
}

#canvas {
	z-index: 0 !important;
}
