html {
     height: 100%;
}

body {
     background: url("http://tama.moe/tests/img/21951415.jpg") no-repeat scroll center / cover  #000000 !important;
     color: rgba(255, 255, 255, 1.00) ! important;
     height: 100%;
     margin: 0px;
	 text-rendering: geometricprecision;
	 font-family: 'Droid Sans Mono', Helvetica !important;
	 font-size: 14px;
}

.loadings {
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
	 display: block;
}

.cysm-load {
     height: 35px;
     left: 50%;
     padding-left: 15px;
     position: relative;
     transform: translateX(-75px);
}

.helps {
	 display: none;
	 min-height: 625px;
	 margin-bottom: 25px;
}

.listens {
	 display: none;
}

.streamlist {
     background-color: rgba(255, 255, 255, 0.25);
     display: inline-block;
     float: left;
     font-size: 18px;
     margin-left: 5px;
     margin-top: 5px;
     padding: 5px;
}

.streamlist:hover {
	 background-color: rgba(255, 255, 255, 0.1);
}

.streamlist a {
	 text-decoration: none;
}

.players {
	 display: none;
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
}

.modal-header, .modal-title, .modal-body, .modal-footer, .modal-dialog, .modal-lg, .bs-modal-lg, .modal {
	 border: unset;
	 box-shadow: unset;
}

.modal-content {
	 background: unset;
	 box-shadow: unset;
}

.themes {
     display: none;
     max-height: 163px;
     overflow: visible;
     padding-bottom: unset;
     padding-left: 5px;
     padding-right: unset;
     padding-top: 5px;
}

.themeslist {
     background-color: rgba(255, 255, 255, 0.25);
     display: inline-block;
     float: left;
     font-size: 18px;
     margin-left: 5px;
     margin-top: 5px;
     padding: 5px;
}

.themeslist:hover {
	 background-color: rgba(255, 255, 255, 0.1);
}

.themeslist a {
	 text-decoration: none;
}

.navbar-header {
     left: 50%;
     position: relative;
     top: -7px;
     transform: translateX(-50%);
}

.news-conts:nth-child(2), .news-conts:nth-child(3) {
	 display: none;
}

.navbar-container {
	 width: unset !important;
}

#dj-name {
	 line-height: 63px;
}

.np-container {
     color: #ffffff;
     float: left;
     font-size: 14px;
     text-align: center;
     top: -53px;
     transition: width 0.6s ease 0s;
}

.navbar-nav {
	 display: none;
}

.ajax-search {
	 display: none;
}

.navbar-collapse {
	 padding: unset !important;
	 display: none;
}

a {
     color: rgba(255, 255, 255, 0.75) ! important;
}

.navbarstuff {
     width: 100% ! important;
}

h4 {
	 font-family: 'Droid Sans Mono', !important;
}

.navbar {
     background: url("http://tama.moe/up2/offstripe.png") repeat scroll 0px 0px transparent !important;
     opacity: 0.85;
     border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#dj-image {
     max-height: 165px ! important;
     opacity: 1 ! important;
     padding: 0px ! important;
     position: relative;
     top: -176px;
}

.newspadding {
     padding: 10px;
	 margin: 0px;
	 text-align: justify;
}

.texturefill {
     background: url("http://ocv.me/ptn-d.png") repeat scroll 0px 0px transparent !important;
     opacity: 0.65;
}

.minusnone {
     height: 100%;
}

.minusonefourth {
     height: 167px ! important;
}

.onefourth {
     height: 63px ! important;
}

.removepadding {
     padding-right: 23px ! important;
}

.nopadding {
     margin: 0px ! important;
     overflow: hidden;
     padding: 0px ! important;
}

.middletext {
     padding-top: 5px;
     text-align: center;
}

.fixpadding {
     padding-right: 105px ! important;
}

.fixpadding2 {
     padding-right: 7px ! important;
}

.margins2 {
     margin-left: 5px;
     margin-right: 10px;
}

.col-md-6, .col-md-3 {
     height: 240px;
     z-index: 1;
}

#np {
     background-color: transparent;
     border: medium none;
     height: 100% ! important;
     line-height: 62px;
}

.lel2 {
     line-height: 167px;
     text-align: center;
}

.lel3 {
     line-height: 63px;
     text-align: center;
}

.lel4 {
     line-height: 60px;
     text-align: center;
}

.lel5 {
     line-height: 34px;
     text-align: center;
}

.lel6 {
     line-height: 50px;
     text-align: center;
}

.lel7 {
     padding-bottom: 7px;
     padding-top: 7px;
     text-align: left;
	 margin: 0px;
}

.lel8 {
     padding-bottom: 7px;
     padding-top: 7px;
     text-align: right;
	 margin: 0px;
}

.rowseparator {
     height: 10px;
}

.centertext {
     position: relative;
}

.topmargin {
     position: relative;
     top: 10px;
}

.newstitle {
	 line-height: 34px;
     margin-bottom: 10px ! important;
}

.lpcontent {
	 padding-top: 7px;
	 padding-bottom: 7px;
}

.lptitle {
	 line-height: 34px;
     margin-bottom: 10px ! important;
}

.titlemargins {
	 padding-top: 7px;
	 padding-bottom: 7px;
	 margin: 0px;
}

.colorfill {
     background: url("http://tama.moe/up2/offstripe.png") repeat scroll 0px 0px transparent !important;
     opacity: 0.85;
     border: 2px solid rgba(255, 255, 255, 0.3);
}

.buttoncontainers {
     padding: 0px ! important;
}

.onethird {
     height: 60px ! important;
}

.onefifth {
     height: 30px;
     margin-bottom: 7px ! important;
}

.nowplaying {
     margin-bottom: 10px ! important;
}

.lastplayed {
     height: 15%;
     margin-bottom: 10px ! important;
}

.logo-img img {
     display: inline-block;
     height: 185px;
     padding-top: 10px;
}

.img1 {
     border-radius: 3px;
     height: 100%;
     opacity: 1;
}

.img2 {
     height: 100%;
     opacity: 1;
}

.img3 {
     border-radius: 3px;
     opacity: 1;
}

.img4 {
     border-radius: 3px;
     height: 100%;
     opacity: 1;
}

.number1 {
     height: 240px;
     padding-left: 105px ! important;
     padding-right: 10px ! important;
     padding-top: 0px ! important;
}

.number2 {

     padding-left: 10px;
     padding-right: 120px ! important;
     padding-top: 0px ! important;
}

.number3 {
     padding-left: 120px ! important;
     padding-right: 10px ! important;
     padding-top: 0px ! important;
}

.number4 {
     height: 240px;
     padding-left: 10px ! important;
     padding-top: 0px ! important;
}

.number7 {
     padding-right: 23px ! important;
}

.number8 {
     height: 240px;
     padding-left: 10px ! important;
}

.number9 {
     background-color: #428bca;
     height: 240px ! important;
}

.npbar {
     background-color: #428bca;
     box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
     color: #ffffff;
     float: left;
     font-size: 14px;
     text-align: center;
     transition: width 0.6s ease 0s;
}

.np-underlay {
	 z-index: 5;
	 position: relative;
	 top: 10px;
     background-color: #428bca !important;
	 border-radius: 0;
}

h3 {

}

a {
     border-radius: 3px;
}

.textdarkbg {
    
}

h1, .h1, h2, .h2, h3, .h3 {
     margin-top: 0px ! important;
}

.midvert {
     position: absolute;
}

.playerstats {
	 z-index: 7;
}

.pagecont {
     bottom: 0px;
     left: -85px;
     min-height: 635px;
     position: absolute;
     right: 0px;
     top: 75px;
     transform-style: preserve-3d;
}

.mobileview {
     color: rgba(255, 255, 255, 0.5);
     min-height: 100px;
     padding-top: 100px;
}

h2 {
     min-height: 100px;
}

.footer {
    display: none;
}

.floatyfloaty {
     bottom: 0px;
     color: rgba(255, 255, 255, 0.5);
     left: 0px;
     line-height: 250px;
     position: relative;
     right: 0px;
     top: 0px;
}

.floatyfloaty2 {
     bottom: 0px;
     color: rgba(255, 255, 255, 0.5);
     left: 0px;
     line-height: 167px;
     position: relative;
     right: 0px;
     top: 0px;
}

.floatyfloatysmall {
     bottom: 0px;
     color: rgba(255, 255, 255, 0.5);
     left: 0px;
     line-height: 23px;
     position: relative;
     right: 0px;
     top: 0px;
}

.mobil {
     opacity: 0.75 ! important;
}
