body {
     background-color: #222222;
}

code {
     background-color: #363636;
}

#dj-image {
     margin-top: 1em;
}

.separator {
	 border-left: 2px solid;
}

#return-to-staff {
	 float: left;
}

#djprofile-name {
	 float: left;
	 margin-left: 1em;
}

.profile-block {
	 min-height: 150px;
}

#dj-days {
	 border-bottom: 2px solid;
}

.djprofile-panel {
	 padding-top: 15px;
	 padding-bottom: 15px;
}

.staffpage-title {
     border-bottom: 2px solid ;
}

.djpage-panel {
	 margin-bottom: 2em;
}

.thumbnail {
	 margin-bottom: 0px;
}

.thumbnail > img, .thumbnail a > img {
	 border-radius: 4px;
}

.text-info {
     color: #527a8e;
}

.text-success, .alert-success {
     color: #5d7b5d;
}

.btn-success {
     background-color: #5d7b5d;
     border-color: #5d7b5d;
     color: rgba(255, 255, 255, 0.75);
}

.staff-name {
     color: #686868;
}

.text-danger {
     color: #a15755;
}

.btn-danger, .btn.btn-block.btn-danger.request-button.disabled {
     background-color: #a15755;
     border-color: #a15755;
     color: #eb9d9b;
}

.well a {
     color: #49667f;
}

.navbar-inverse .navbar-nav > li > a {
     color: #787878;
}

.navbar-inverse .navbar-nav > li > a:hover {
	 color: #aaaaaa;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	 background-color: #222222;
}

.list-group-item.queue.list-group-item-info {
     color: #49667f;
}

p, li, h1, h2, h3, h4, h5, h6, h7, h8, .dropdown-toggle.btn-block, .row {
     color: #787878;
}

hr {
     border-color: #787878;
}

.navbar {
     background-color: #2a2a2a ! important;
     border: medium none;
}

.dropdown-menu {
     background-color: #2a2a2a ! important;
}

.dropdown-menu a {
     color: #a0a0a0 ! important;
}

.dropdown-menu a:hover {
     background-color: #4d4d4d ! important;
}

.form-control {
     background-color: #3d3d3d;
     border-color: rgba(27, 27, 27, 0.5);
     color: rgba(255, 255, 255, 0.4);
     margin-right: -0.9em;
     padding-right: 3em;
}

.form-control:focus {
     border-color: rgba(27, 27, 27, 0.5);
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.thumbnail, #cooldown {
     background-color: transparent;
     border-color: rgba(27, 27, 27, 0);
}

.progress {
     background-color: #1b1b1b;
}

.progress-bar {
     background-color: #49667f;
}

#stream-play, .btn.btn-primary {
     background-color: #49667f;
     border: medium none;
     color: #d1d1d1;
}

#stream-play:hover {
     background-color: #384f62;
}

.panel-title {
     color: #49667f ! important;
}

.dropdown-toggle.btn-block {
     background-color: #1b1b1b;
     border: medium none;
}

.dropdown-toggle.btn-block:hover, .dropdown-toggle.btn-block:focus {
     background-color: #191919;
     color: #d1d1d1;
}

.last-played, .queue, #dj-mode, .list-group-item {
     background-color: #1b1b1b;
     border-color: rgba(27, 27, 27, 0.1);
}

.panel-default {
     background-color: #1b1b1b ! important;
     border-color: rgba(27, 27, 27, 0.1) ! important;
}

#submit-button {
     background-color: #1b1b1b ! important;
     border-color: rgba(27, 27, 27, 0.1) ! important;
     color: #788878;
}

#submit-button:hover {
     border-color: rgba(255, 255, 255, 0.1) ! important;
}

.panel-heading {
     background-color: #2a2a2a ! important;
     border-color: rgba(27, 27, 27, 0.5) ! important;
}

.well {
     background-color: #222222;
     border-color: rgba(27, 27, 27, 0.5);
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
     background-color: #1b1b1b;
     border-color: rgba(27, 27, 27, 0.1);
     color: #787878;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
     background-color: #1b1b1b;
     border-color: rgba(27, 27, 27, 0.1);
     color: #787878;
}

.pagination > li > a, .pagination > li > span {
     background-color: #1b1b1b;
     border-color: rgba(27, 27, 27, 0.1);
     color: #49667f;
}

.footer {
     border-top: medium none;
}

.modal-header {
	border-bottom:1px solid #787878;
}

.modal-content {
	background-color:#1b1b1b;
}


.modal-footer {
	border-top:1px solid #787878;
}

.alert-warning {
	background-color:#2B2B2B;
	border-color:#4B4B4B;
	color:#8a6d3b
}

.border-between > [class*='col-']:before,
.border-between > [class*='col-']:after {
    background: #787878;
}

.btn-default {
	color:#7B7B7B;
	background-color:#2B2B2B;
	border-color:transparent;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
	color:#7B7B7B;
	background-color:#3B3B3B;
	border-color:transparent;
}
