/* default theme */
.faves { background: rgb(66, 139, 202); }
.faves:hover { background: rgb(40, 94, 142); cursor: pointer; }
.plays { background: #f0ad4e; }
.plays:hover { background: #d58512; cursor: pointer; }

.bordered {
    border-radius: 7px;
    -moz-box-shadow: 0 0 4px 4px #888;
    -webkit-box-shadow: 0 0 4px 4px#888;
    box-shadow: 0 0 4px 4px #888;
}

.navbar-inverse {
	background: #383838; /* Old browsers */
	background: -moz-linear-gradient(top,  #383838 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #383838 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #383838 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #383838 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #383838 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}