 
            .faves { background: rgb(66, 139, 202); }
            .faves:hover { background: rgb(40, 94, 142); cursor: pointer; }
            .plays { background: #f0ad4e; }
            .plays:hover { background: #d58512; cursor: pointer; }

            .main {
                margin-top: 60px;
                
            }

            .bordered {
                border-radius: 7px;
                -moz-box-shadow: 0 0 4px 4px #888;
                -webkit-box-shadow: 0 0 4px 4px#888;
                box-shadow: 0 0 4px 4px #888;
            }

            .content {
                margin-top: 30px;
            }

            #stream-progress-bar {
                margin-top: 20px;
            }
            .footer {
                border-top: 1px solid #eee;
                margin-top: 40px;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            /* Responsive: Portrait tablets and up */
            @media screen and (min-width: 768px) {
                /* Remove the padding we set earlier */
                .masthead,
                .marketing,
                .footer {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
